<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- sostitisce a questo tag il codice contenut nel file indicato -->
<link th:replace="fragments/links.html">
<title>MVC</title>
</head>
<body>
	<div class="container">
		<h1>MVC</h1>
		<h2>Lista degli studenti</h2>
		<div class="row">
			<a th:href="@{/mvc/addform}"><span class="fa fa-plus" title="aggiungi">&nbsp;</span><span>Nuovo Studente</span></a>
		</div>
		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nome</th>
						<th scope="col">Cognome</th>
						<th scope="col">Email</th>
						<th scope="col">Azione</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="studente : ${allStudenti}">
						<td th:text="${studente.id}"></td>
						<td th:text="${studente.nome}"></td>
						<td th:text="${studente.cognome}"></td>
						<td th:text="${studente.email}"></td>
						<td><a th:href="@{/mvc/} + ${studente.id}"
							class="fa fa-pencil" title="modifica"></a> <span>-</span> <a
							th:href="@{/mvc/delete/} + ${studente.id}" class="fa fa-trash"
							title="cancella"></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>



	<!-- sostitisce a questo tag il codice contenut nel file indicato -->
	<script th:replace="fragments/scripts.html"></script>
</body>
</html>